{% extends 'base.html' %}
{% block title %}contests{% endblock %}

{% block content %}
    {% if contests_in_submissions %}
        <div class='contests_section_submit'>
            <div class="contests_section_header">Submit:</div>
            <ul>
                {% for contests in contests_in_submissions %}
                    <li>
                        <a class='contests_link' href="{% url 'submissions' contests.id %}">
                            {{ contests.name }}
                        </a>
                         <div class="contests_section_comment">- submissions end on {{ contests.submission_end_date }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if contests_in_voting %}
        <div class='contests_section_vote'>
            <div class="contests_section_header">Vote:</div>
            <ul>
                {% for contests in contests_in_voting %}
                    <li>
                        <a class='contests_link' href="{% url 'vote' contests.id %}">
                            {{ contests.name }}
                        </a>
                         <div class="contests_section_comment">- voting ends on {{ contests.voting_end_date }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if contests_closed %}
        <div class='contests_section_results'>
            <div class="contests_section_header">Results:</div>
            <ul>
                {% for contests in contests_all %}
                    <li>
                        <a class='contests_link' href="{% url 'results' contests.id %}">
                            {{ contests.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if contests_all %}
        <div class='contests_section_view'>
            <div class="contests_section_header">View:</div>
            <ul>
                {% for contests in contests_all %}
                    <li>
                        <a class='contests_link' href="{% url 'gallery' contests.id %}">
                            {{ contests.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if contests_pre_submissions %}
        <div class='contests_section_soon'>
            <div class="contests_section_header">Coming Soon:</div>
            <ul>
                {% for contests in contests_pre_submissions %}
                    <li>
                        <a class='contests_link'>
                            {{ contests.name }}
                        </a>
                         <div class="contests_section_comment">- submissions start on {{ contests.submission_start_date }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
