{% extends 'base.html' %}
{% block title %}contests{% endblock %}

{% block content %}
    <div class='gallery_images'>
        {% for photo in photos %}
            <div class='gallery_image_wrapper'>
                <a href='{{ MEDIA_URL }}{{ photo.photo_file }}'>
                    <img class='gallery_image' src='{{ MEDIA_URL }}{{ photo.thumbnail_file_200 }}' >
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
