{% extends 'base.html' %}
{% load static %}
{% block extra_scripts %}
    <script src='{% get_static_prefix %}js/jquery-1.10.2.min.js'></script>
    <script src='{% get_static_prefix %}js/vote.js'></script>
{% endblock %}
{% block title %}Photo Contest{% endblock %}

{% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <br/>
                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div class='voting_header'>Which photo do you like better?</div>
    <div class='voting_body'>
        {% for photo, form in photo_forms %}
                <div class='photo_form_wrapper'>
                    <form action='{% url "record_vote" contest_id %}' method='post'>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div><input type='image' class='photo' id='photo_{{ forloop.counter }}' src='{{ MEDIA_URL }}{{ photo.thumbnail_file_1024 }}'></div>
                        <div><input type='submit' class='vote_button' value='Vote for {{ photo.photo_file }}'></div>
                   </form>
               </div>
         {% endfor %}
    </div>
{% endblock %}
