{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='{% get_static_prefix %}css/pyphotovote.css'>
    {% block extra_styles %}
    {% endblock %}
    {% block extra_scripts %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class='base_section_header'>
        <a href='{% url 'contests' %}' class='base_header'>Photo Contests</a>
        {% include 'login_logout.html' %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>