<div class='login_logout'>
    {% if user.is_authenticated %}
        <a href='{% url "logout" %}?next={{ request.path }}' class='login_logout_link'>logout</a>
    {% else %}
        <a href='{% url "login" %}?next={{ request.path }}' class='login_logout_link'>login</a>
    {% endif %}
</div>
